<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tag</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/floatitem.css">
</head>
<body>
<div id="container" style="margin: 20px">
</div>
<div class="layui-container" style="margin-top: 20px">
    <button class="layui-btn layui-layout-admin" onclick="onClickAdd()">
        <a class="layui-icon layui-icon-add-1" style="font-size: 30px;"></a>
    </button>
</div>


<script src="js/jquery.min.js"></script>
<script src="layui/layui.js"></script>
<script src="js/tag.js"></script>
<script src="js/floatitem.js"></script>
</body>
</html>